*{
margin:0;
padding:0;
}
#container{
/* height:1000px; */
width:1000px;
background-color:#efefef;
margin:0 auto;
}
#header{
background-color:#3366cc;
font-size:24px;
color:#fff;
text-align:center;
padding:10px;
}
#midBox{
height:565px;
background-color:#ebf0fc;
padding:30px 10px 10px 10px;

}
.box{
height:280px;
width:232.5px;
/* border:1px solid; */
float:left;
/* margin:5px; */

/* padding:10px; */
}
#midParent{
  padding: 10px;
  height:280px;
  background-color: rgb(223, 227, 227);  
}
#box1{
background-color:brown;
}
#box2{
background-color:#a3645f;
margin-left:10px;
}
#box3{
background-color:#a44a3f;
margin-left:10px;
}
#box4{
background-color:#c89f9c;
margin-left:10px;
}
#content{
padding:10px;
/* background-color:#E9967A; */
margin-top:20px;
font-size:12px;
}
#footer{
padding-top:15px;
padding-bottom:15px;
background-color:black;
color:white;
text-align:center;
font-size:16px;
}
